/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
	text-align: center;
}

.form-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.form-container .mat-form-field {
  width: 220px;
}

.form-container .button {
  margin-left: 8px;
  display: flex;
}

.form-container form {
  margin-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.form-container form > * {
  margin: 5px 0;
}

.mat-icon {
  vertical-align: middle;
}

.mat-form-field {
  display: inline-block;
}
